
body {
  background: url("images/couplemakeoutanatomyevent.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

img{
  margin-top: 2cm;
  background-color: white; opacity: 0.5;
  box-shadow: 0px 0px 5px #fff;
}

h1 {
  font-family: 'Comfortaa', cursive;
	font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}
 
p {
  text-shadow: 2px 2px 4px #000000;
  line-height: 26px;
  text-align: center;
}

a:link {
    color: #800020;
    }

a:hover {
    color: #CC5500;
  }
a:visited {
    color: gold;