@font-face {
    font-family: 'sofia_prolight';
    src: url('SofiaProLight-webfont.eot');
    src: url('SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('SofiaProLight-webfont.woff2') format('woff2'),
         url('SofiaProLight-webfont.woff') format('woff'),
         url('SofiaProLight-webfont.ttf') format('truetype'),
         url('SofiaProLight-webfont.svg#sofia_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
* { margin:0; padding:0; box-sizing:border-box; }
body {
  background: url("images/couplemakeoutanatomyevent.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 18px;
  font-family: 'sofia_prolight';
  text-align: center;
}
h1 {
	font-size: 2em;
}
